In [ ]:
#import base modules
import re
import time
#import installed modules
import pandas as pd
import numpy as np
import sklearn 
import seaborn as sns

# Predictive Practical Analytics Seminar 2021 - Data Manipulation in Python

## Import Data

### Winter is Coming

#### Source of data Links:

Game of Thrones mortality/survival dataset:
https://figshare.com/articles/dataset/Game_of_Thrones_mortality_and_survival_dataset/8259680/1

Biomedical research article using the dataset:
https://injepijournal.biomedcentral.com/articles/10.1186/s40621-018-0174-7

In [ ]:
df_got = pd.read_csv('../data/character_data_S01-S08.csv')
df_episode = pd.read_csv('../data/episode_data.csv')

## Understanding the Data

### head()

Much like in R, head(n) returns the top n rows of data in a dataframe, defaulting to n = 5. The main difference is in syntax style between the two languages. The below example would return 10 rows of data.

R: `head(df,10)`

Python (pandas): `df.head(10)`

In [ ]:
display(df_got.head())
display(df_episode.head())

,id,name,sex,religion,occupation,social_status,allegiance_last,allegiance_switched,intro_season,intro_episode,...,dth_description,icd10_dx_code,icd10_dx_text,icd10_cause_code,icd10_cause_text,icd10_place_code,icd10_place_text,top_location,geo_location,time_of_day
0,100,Waymar Royce,1,9,2,2,3,1,1,1,...,Killed by a white walker in a forest,T14,Injury of unspecified body region,X99.0,Assault by knife,Y92.84,Forest,2.0,1.0,1.0
1,101,Gared Tuttle,1,9,2,2,3,1,1,1,...,Decapitation by a white walker in a forest,S18,Traumatic amputation at neck level,X99.0,Assault by knife,Y92.84,Forest,2.0,1.0,1.0
2,102,Will,1,9,2,2,3,1,1,1,...,Decapitation by Ned Stark (legal execution) in...,S18,Traumatic amputation at neck level,Y35.5,Legal execution,Y92.86,Other specified countryside,2.0,1.0,1.0
3,103,Irri,2,1,2,2,2,2,1,1,...,Strangled to death with a tassel by Doreah in ...,T71,Asphyxiation,X91,"Assault by hanging, strangulation and suffocation",Y92.0,Home,1.0,2.0,1.0
4,104,Jon Snow,1,4,2,1,3,2,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,season,episode_number,episode_name,gross_running_time,opening_credits_time,closing_credits_time,net_running_time,cumulative_net_running_time
0,1,1,"""Winter Is Coming""",3546,110,33,3403,3403
1,1,2,"""The Kingsroad""",3182,111,34,3037,6440
2,1,3,"""Lord Snow""",3294,96,27,3171,9611
3,1,4,"""Cripples, Bastards, and Broken Things""",3201,96,26,3079,12690
4,1,5,"""The Wolf and the Lion""",3123,101,24,2998,15688

### describe()

In [ ]:
df_got.describe()

,id,sex,religion,occupation,social_status,allegiance_last,allegiance_switched,intro_season,intro_episode,intro_time_sec,...,censor_time_hrs,exp_season,exp_episode,exp_time_sec,exp_time_hrs,featured_episode_count,prominence,top_location,geo_location,time_of_day
count,359.000000,359.000000,359.000000,359.000000,359.000000,359.000000,359.000000,359.000000,359.000000,359.000000,...,359.000000,359.000000,359.000000,359.000000,359.000000,359.000000,359.000000,212.000000,212.000000,212.000000
mean,279.000000,1.292479,7.041783,2.551532,1.688022,5.587744,1.153203,3.487465,29.072423,87278.835655,...,46.922368,3.487465,26.350975,81643.732591,22.678914,7.805014,1.129215,2.377358,1.174528,2.509434
std,103.778611,0.455536,2.829599,2.389921,0.463947,2.923124,0.360686,2.254538,22.426672,68897.206765,...,19.873473,2.427550,23.275600,73265.393027,20.351597,11.981638,1.269363,2.362635,0.380462,2.778541
min,100.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.100000,1.000000,1.000000,8.000000,0.000000,1.000000,0.111100,1.000000,1.000000,1.000000
25%,189.500000,1.000000,4.000000,1.000000,1.000000,3.000000,1.000000,1.000000,9.000000,25348.000000,...,31.965000,1.000000,5.000000,14496.500000,4.030000,1.000000,0.333300,1.000000,1.000000,1.000000
50%,279.000000,1.000000,9.000000,2.000000,2.000000,7.000000,1.000000,3.000000,26.000000,77694.000000,...,52.910000,3.000000,20.000000,66551.000000,18.490000,3.000000,0.875000,2.000000,1.000000,1.000000
75%,368.500000,2.000000,9.000000,2.000000,2.000000,8.000000,1.000000,5.000000,49.000000,146960.000000,...,64.110000,6.000000,45.000000,144591.500000,40.165000,8.000000,1.171550,2.000000,1.000000,2.000000
max,458.000000,2.000000,9.000000,9.000000,2.000000,9.000000,2.000000,8.000000,73.000000,229649.000000,...,64.110000,8.000000,73.000000,230347.000000,63.990000,67.000000,7.342500,9.000000,2.000000,9.000000

### info()

In [ ]:
df_got.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359 entries, 0 to 358
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      359 non-null    int64
 1   name                    359 non-null    object
 2   sex                     359 non-null    int64
 3   religion                359 non-null    int64
 4   occupation              359 non-null    int64
 5   social_status           359 non-null    int64
 6   allegiance_last         359 non-null    int64
 7   allegiance_switched     359 non-null    int64
 8   intro_season            359 non-null    int64
 9   intro_episode           359 non-null    int64
 10  intro_time_sec          359 non-null    int64
 11  intro_time_hrs          359 non-null    float64
 12  dth_flag                359 non-null    int64
 13  dth_season              212 non-null    float64
 14  dth_episode             212 non-null    float64
 15  dth_time_sec            212 non-null    float64
 16  dth_time_hrs            212 non-null    float64
 17  censor_time_sec         359 non-null    int64
 18  censor_time_hrs         359 non-null    float64
 19  exp_season              359 non-null    int64
 20  exp_episode             359 non-null    int64
 21  exp_time_sec            359 non-null    int64
 22  exp_time_hrs            359 non-null    float64
 23  featured_episode_count  359 non-null    int64
 24  prominence              359 non-null    float64
 25  dth_description         212 non-null    object
 26  icd10_dx_code           212 non-null    object
 27  icd10_dx_text           212 non-null    object
 28  icd10_cause_code        209 non-null    object
 29  icd10_cause_text        209 non-null    object
 30  icd10_place_code        209 non-null    object
 31  icd10_place_text        209 non-null    object
 32  top_location            212 non-null    float64
 33  geo_location            212 non-null    float64
 34  time_of_day             212 non-null    float64
dtypes: float64(11), int64(16), object(8)
memory usage: 98.3+ KB

## Data Munging

### The Importance of Vectorized Functions - Be Pythonic!

Being "pythonic" is often taken to mean writing clear, interpretable code which takes advantage of existing structures and operations in Python.

There are two structures that will help a Data Analyst/Scientist/Actuary manipulate data both readably and efficiently:

1. Built-in functions in packages such as pandas and numpy; these may even be compiled to C for speed above an interpreted language like Python
2. "lambda" functions that can be applied to "iterables" like lists and data frames
 
#### lambda?

A lambda function is an anonymous function called with the lambda keyword. For example `lambda x: x+1` adds 1 to the argument passed to it. Lambda functions can be used with functions like map(), filter(), or pandas.apply() in order to efficiently apply the function to an entire dataframe (or row/column), list, etc. It is more efficient and "cleaner" than a (non-pythonic) loop. The below example compares the time taken with a for loop vs. a lambda function vs. a bult-in functions

In [ ]:
d1 = df_episode.copy()
t1 = time.process_time()
ind = 0
for i in d1['episode_name']:
    d1.loc[ind,'ep_name_1'] = re.sub("\"","",i)
    ind+=1
te = time.process_time()
print('Processing time - for loop approach: ' + str(1000*(te - t1))+'ms')

t1 = time.process_time()
d1['ep_name_2'] = d1['episode_name'].apply(lambda x: re.sub("\"","",x))
te = time.process_time()
print('Processing time - apply() approach: ' + str(1000*(te - t1))+'ms')

t1 = time.process_time()
d1['ep_name_3'] = d1['episode_name'].str.replace('"','')
te = time.process_time()
print('Processing time - built-in vectorized function [replace()] approach: ' + str(1000*(te - t1))+'ms')

t1 = time.process_time()
d1['ep_name_4'] = [re.sub("\"","",i) for i in d1['episode_name']]
te = time.process_time()
print('Processing time - list comprehension approach: ' + str(1000*(te - t1))+'ms')

t1 = time.process_time()
#d1['ep_name_5'] = pd.Series(map(lambda x: x.str.replace('"',''),d1['episode_name']))
d1['ep_name_5'] = pd.Series(map(re.sub,['"']*d1.shape[0],['']*d1.shape[0],d1['episode_name']))
te = time.process_time()
print('Processing time - Python\'s map() approach: ' + str(1000*(te - t1))+'ms')

Processing time - for loop approach: 11.928265999999965ms
Processing time - apply() approach: 0.8112580000001479ms
Processing time - built-in vectorized function [replace()] approach: 0.7435090000003086ms
Processing time - list comprehension approach: 0.5718889999997145ms
Processing time - Python's map() approach: 0.7379770000000008ms

**Note:** The "winner" here may not be the fastest in all scenarios, but list comprehension and mapping are always fast!

A sample of the identical fields created under each process:

In [ ]:
d1.head()

,season,episode_number,episode_name,gross_running_time,opening_credits_time,closing_credits_time,net_running_time,cumulative_net_running_time,ep_name_1,ep_name_2,ep_name_3,ep_name_4,ep_name_5
0,1,1,"""Winter Is Coming""",3546,110,33,3403,3403,Winter Is Coming,Winter Is Coming,Winter Is Coming,Winter Is Coming,Winter Is Coming
1,1,2,"""The Kingsroad""",3182,111,34,3037,6440,The Kingsroad,The Kingsroad,The Kingsroad,The Kingsroad,The Kingsroad
2,1,3,"""Lord Snow""",3294,96,27,3171,9611,Lord Snow,Lord Snow,Lord Snow,Lord Snow,Lord Snow
3,1,4,"""Cripples, Bastards, and Broken Things""",3201,96,26,3079,12690,"Cripples, Bastards, and Broken Things","Cripples, Bastards, and Broken Things","Cripples, Bastards, and Broken Things","Cripples, Bastards, and Broken Things","Cripples, Bastards, and Broken Things"
4,1,5,"""The Wolf and the Lion""",3123,101,24,2998,15688,The Wolf and the Lion,The Wolf and the Lion,The Wolf and the Lion,The Wolf and the Lion,The Wolf and the Lion

### Variable Persistence

Since we created a copy of `df` called `d1` to operate on, we have two versions of this same data. Normally, this is fine, but for large datasets and limited compute/memory resources, we may want to remove our experimental `d1` with the keyword `del`. A keyword is similar to a function - all that matters for now is that it does not use a parenthesis. Function syntax: `print(object)`. Keyword syntax: `del object`.

In [ ]:
del d1

Can we avoid creating copies? Are there even more efficient ways to do this?

### By Value vs. By Reference

When a developer refers to an object *by value*, they are talking about operating on the data contained within the object, but with no change to the object itself (like our `copy()` example above). When its referred *by reference*, this means we are operating on (and potentially changing) the object itself. See the below example for a simple data frame.

In [ ]:
temp = pd.DataFrame({'a':[1,2,3,4],'b':[100,200,300,400]})
tempByValue = temp.copy()
tempByReference = temp
tempByValue['newField'] = tempByValue['a']+tempByValue['b']
print('Changing the copy does not change the original. The copy:')
display(tempByValue)
print('      but the original is still: ')
display(temp)
tempByReference['newField'] = tempByReference['a']+tempByReference['b']
print('Changing the "by value" variable DOES change the original:')
print("   run: tempByReference['newField'] = tempByReference['a']+tempByReference['b']")
print("   changes temp even though tempByReference was operated on:")
display(temp)

Changing the copy does not change the original. The copy:

   a    b  newField
0  1  100       101
1  2  200       202
2  3  300       303
3  4  400       404

      but the original is still:

   a    b
0  1  100
1  2  200
2  3  300
3  4  400

Changing the "by value" variable DOES change the original:
   run: tempByReference['newField'] = tempByReference['a']+tempByReference['b']
   changes temp even though tempByReference was operated on:

   a    b  newField
0  1  100       101
1  2  200       202
2  3  300       303
3  4  400       404

In [ ]:
del temp, tempByReference, tempByValue

#### inplace
pandas has a useful argument in many functions called `inplace`. If this == `True` the operation is performed by reference and the original table is altered. It defaults to `False`. Let's see how we could use this to do our efficient `replace()` above in one step

In [ ]:
df_episode['episode_name'].replace('"','',regex=True,inplace=True)
display(df_episode.head())

,season,episode_number,episode_name,gross_running_time,opening_credits_time,closing_credits_time,net_running_time,cumulative_net_running_time
0,1,1,Winter Is Coming,3546,110,33,3403,3403
1,1,2,The Kingsroad,3182,111,34,3037,6440
2,1,3,Lord Snow,3294,96,27,3171,9611
3,1,4,"Cripples, Bastards, and Broken Things",3201,96,26,3079,12690
4,1,5,The Wolf and the Lion,3123,101,24,2998,15688

## Merging

In pandas, the `merge()` function matches rows of one table with rows of another similar to SQL's `join` functon. We won't go into great depth, but just like in SQL, you can do inner (defaults), left, right, outer, and cross-joins. You can specify the fields to join by like in a `by` clause (just make sure your types are compatible).

### Merge Example

#### Problem:

We want to merge the character data with the episode data in order to get more fields that we might want to use in a model. 

#### What to merge on?

Identical fields could be named similarly in two different data sources. But for now, let's see if the two sets of column names have any in common (it will let us show off more Python!).

In [ ]:
list(set(df_got.columns) & set(df_episode.columns))

[]

Uh oh...an empty set. No worries, let's look at the columns in both fields with our human eyes:

In [ ]:
print(df_got.columns.tolist())
print('\n')
print(df_episode.columns.tolist())

['id', 'name', 'sex', 'religion', 'occupation', 'social_status', 'allegiance_last', 'allegiance_switched', 'intro_season', 'intro_episode', 'intro_time_sec', 'intro_time_hrs', 'dth_flag', 'dth_season', 'dth_episode', 'dth_time_sec', 'dth_time_hrs', 'censor_time_sec', 'censor_time_hrs', 'exp_season', 'exp_episode', 'exp_time_sec', 'exp_time_hrs', 'featured_episode_count', 'prominence', 'dth_description', 'icd10_dx_code', 'icd10_dx_text', 'icd10_cause_code', 'icd10_cause_text', 'icd10_place_code', 'icd10_place_text', 'top_location', 'geo_location', 'time_of_day']


['season', 'episode_number', 'episode_name', 'gross_running_time', 'opening_credits_time', 'closing_credits_time', 'net_running_time', 'cumulative_net_running_time']

hmmm...looks like a lot of fields having to do with an 'episode' in both sets. Let's use a regular expression (regex) to find all the fields in the characters dataset:

In [ ]:
list(filter(re.compile('(?i)episode').search,df_got.columns.tolist()))

['intro_episode', 'dth_episode', 'exp_episode', 'featured_episode_count']

#### Merge

Well - I didn't provide a data dictionary (on purpose), but this looks like the episode a character was introduced, the episode they died in, their exposure (in episodes), and how many episodes they were featured in. featured_episode_count is meaningless for our purposes. exp_episode is a count, not an individual episode. So the question is, if I eventually want to predict mortality, do I care more about the episode they were introduced in or the one they died in?

I *think* I care more about when they were introduced. In one sense, it doesn't matter (I could add both with a second join and some creative column renaming). But there's a modeling lesson here! Using the season of death would be **cheating**!

I can make up, without a computer, completely by hand, a perfect mortality model using season of death. Ready? Here it is:

```
if math.isnan(dth_episode):
  return True
else:
  return False
```

The same logic for 'cause of death' would apply - it sounds silly but be careful not to cheat!

Okay, so we'll merge by season as each episode is distinct. If, instead, each season had a season 1, 2, etc, we could merge on both fields. I will pass this agument as a list for those who want to see how it's done.

In [ ]:
df = df_got.merge(df_episode,left_on=['intro_episode'],right_on=['episode_number'])

I think that worked? Let's make sure we have the same row count in the new data frame. An inner join would drop non-matched rows.

In [ ]:
print("Original GOT df dimensions: " + str(df_got.shape))
print("Merged df dimensions: " + str(df.shape))

Original GOT df dimensions: (359, 35)
Merged df dimensions: (359, 43)

## EDA - Exploratory Data Analysis
Technically, we've already done some EDA, but now with our fully-merged set we are ready to look at it all.

### groupby()
examples go here - running/credits time by season? by episode number?

### Deriving New Columns
Thinking of an example for grepping whether certain words (dragon, woman) are in the title